html {
  background-color: #000004;
  touch-action: none;
}

@media screen and (max-width: 768px) {
  .content-active {
    display: flex !important;
  }
  .content-inactive {
    display: none !important;
  }
}

.App {
  background-color: #000004;
  color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;

}

.timeframe-button {
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  outline: none;
  font-size: 16px;
  background-color: #00000000;
}

.timeframe-button.selected{
  background-color: #7953d2;
}

.list-item {
  background-color: #FFFFFF00;
}

.list-item:hover {
  background-color: #FFFFFF11;
}

.list-item:active {
  background-color: #FFFFFF22;
}

.list-item-selected {
  background-color: #7953d2;
}

.icon-button:hover {
  background-color: #FFFFFF11;
}

.icon-button:active {
  background-color: #FFFFFF22;
}

.icon-button {
  background-color: #FFFFFF00;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border: none;
  border-radius: 50%;
  margin: 8px;
  outline: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
